<!-- header -->
<header>
  {{> nav }}
  <div class="row-bot">
    <strong class="slog-1">Our Team Is Proud</strong>
    <strong class="slog-2">To&nbsp;Deliver&nbsp;Fresh&nbsp;&amp;&nbsp;Original</strong>
    <strong class="slog-3">Market Solutions</strong>
  </div>
</header><div class="ic">More Website Templates  at TemplateMonster.com!</div>
