<!-- <div class="row-bot">
  <div class="main">
      <div class="wrapper">
          <strong class="news-title fleft">Latest News</strong>
            <ul class="news-list">
                <li><a class="active" href="#">2011</a></li>
                <li><a href="#">2010</a></li>
                <li><a href="#">2009</a></li>
                <li><a href="#">2008</a></li>
            </ul>
        </div>
    </div>
</div> -->
<div id="page2">
  <!-- content -->
      <section id="content">
          <div class="bg-2">
          	<div class="main">
              	<div class="wrapper margin-bot">
                  	<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                      <time datetime="2011-06-07" class="tdate-2 indent-bot">Tuesday, June 7, 2011</time>
                      <div class="wrapper">
                      	<figure class="img-indent3 frame"><img src="images/page2-img1.jpg" alt="" /></figure>
                          <div class="extra-wrap">
                          	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enimoluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur... <a href="#">read more</a>
                          </div>
                      </div>
                  </div>
                  <div class="wrapper margin-bot">
                  	<h3>Sed do eiusmod tempor incididunt enim ad minim</h3>
                      <time datetime="2011-06-05" class="tdate-2 indent-bot">Sunday, June 5, 2011</time>
                      <div class="wrapper">
                      	<figure class="img-indent3 frame"><img src="images/page2-img2.jpg" alt="" /></figure>
                          <div class="extra-wrap">
                          	Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos... <a href="#">read more</a>
                          </div>
                      </div>
                  </div>
                  <div class="wrapper margin-bot">
                  	<h3>Veniam quis nostrud exercitation ullamco laboris nisi utaliquip</h3>
                      <time datetime="2011-06-02" class="tdate-2 indent-bot">Thursday, June 2, 2011</time>
                      <div class="wrapper">
                      	<figure class="img-indent3 frame"><img src="images/page2-img3.jpg" alt="" /></figure>
                          <div class="extra-wrap">
                          	Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere pos<br>simus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic<br> tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur... <a href="#">read more</a>
                          </div>
                      </div>
                  </div>
                  <div class="wrapper">
                  	<h3>Duis aute irure dolor in reprehenderit</h3>
                      <time datetime="2011-06-01" class="tdate-2 indent-bot">Wednseday, June 1, 2011</time>
                      <div class="wrapper">
                      	<figure class="img-indent3 frame"><img src="images/page2-img4.jpg" alt="" /></figure>
                          <div class="extra-wrap">
                          	Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere pos<br>simus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic<br> tenetur a sapiente delectus, ut aut reiciendis... <a href="#">read more</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</div>
