<!-- <div class="row-bot">
  <div class="main">
        <strong class="news-title fleft">Our Services</strong>
    </div>
</div> -->
<div id="page3">
  <!-- content -->
      <section id="content">
          <div class="bg-2">
          	<div class="main">
              	<div class="wrapper margin-bot">
                  	<div class="col-1">
                      	<h3 class="p2">Powerful Analytics</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page1-img1.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                      	<h3 class="p2">Document Management</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page1-img2.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="wrapper margin-bot">
                  	<div class="col-1">
                      	<h3 class="p2">Worldwide Solutions</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page1-img3.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                      	<h3 class="p2">Business Strategies</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page1-img4.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="wrapper">
                  	<div class="col-1">
                      	<h3 class="p2">Banking</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page3-img1.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                      	<h3 class="p2">Business Planning</h3>
                          <div class="wrapper">
                          	<figure class="img-indent4"><img src="images/page3-img2.png" alt="" /></figure>
                              <div class="extra-wrap">
                              	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan<br>tium, totam aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</div>
